.login-container {
  width: 25%;
  margin: 13% auto;
  border: 1px solid #EEEEEE;
  border-radius: 8px;
  background-color: #F5F5F5;
  .title {
    height: 20%;
    font-size: 32px;
    text-align: center;
    display: flex;
    align-items: center;
    margin: 5% 0;
    span {
      width: 100%;
      margin: 0 auto;
    }
  }
  .error-message-field {
    text-align: center;
    color: red;
  }
  .input-field {
    padding: 0 20% 5% 20%;
    .MuiTextField-root {
      width: 100%;
      margin: 5% 0;
    }
  }
  .forgot-password {
    height: 10%;
    text-align: center;
    display: flex;
    align-items: center;
    span {
      width: 100%;
      margin: 0 auto;
    }
  }
  .login-button {
    height: 20%;
    text-align: center;
    margin: 5% 0 5% 0;
  }
}